div(class="form-horizontal")
  h3 +n/+m
  div(class='form-group')
    label(class='col-sm-1 control-label') 正解時
    div(class='col-sm-2')
      input(type='text', class='form-control', name='scoreForRight', defaultValue=props.rule.scoreForRight, onChange=changeRuleParam)

    label(class='col-sm-1 control-label') 誤答時
    div(class='col-sm-2')
      input(type='text', class='form-control', defaultValue=props.rule.scoreForWrong)

  div(class='form-group')
    label(class='col-sm-1 control-label') 勝抜条件
    div(class='col-sm-2')
      input(type='text', class='form-control', defaultValue=props.rule.toWin)

    label(class='col-sm-1 control-label') 失格条件
    div(class='col-sm-2')
      input(type='text', class='form-control', defaultValue=props.rule.toLose disabled=(props.rule.toLose == null))

    div(class='col-sm-3')
      div(class='checkbox')
        label
          input(type='checkbox' checked=(props.rule.toLose == null))
          | 失格なし
