div(class='form-group')
  label +n/+m
  div(class='form-inline')
    div(class='form-group')
      label= '正解時：'
      input(type='text', class='form-control', defaultValue=props.rule.scoreForRight)

    div(class='form-group')
      label= '誤答時：'
      input(type='text', class='form-control', defaultValue=props.rule.scoreForWrong)


    div(class='form-group')
      label 勝抜条件：
      input(type='text', class='form-control', defaultValue=props.rule.toWin)
      | pts

    div(class='form-group')
      label 失格条件：
      input(type='text', class='form-control', defaultValue=props.rule.toLose)
      | pts
      | (失格なし
      input(type='checkbox' class='form-control' checked=(props.rule.toLose == null))
      | )
