div
  nav(class='navbar navbar-default')
    div(class='container-fluid')
      div(class='navbar-header')
        div(class='navbar-brand')
          strong n○m✕
      div(class='collapse navbar-collapse')
        ul(class='nav navbar-nav navbar-right')
          li(class='dropdown')
            a(class='dropdown-toggle', data-toggle='dropdown', role='button' aria-haspopup='true' aria-expanded='false')
              | menu
              span(class='caret')/
            ul(class='dropdown-menu')
              //- li: a(onClick=resetForm) リセット
              li: a= 'ver: ' + App.packageJson.version

  div(class='container')
    div(class='row')
      form
        //- div(class='form-group')
        //-   label(for='title') 企画名
        //-   input(type='text', class='form-control', id='programName', valueLink=linkState('programName'))
        MaruBatsuForm(rule=props.rule)
        //- PointsRuleForm(rule=props.rule)
        PlayerEntryList(playerNames=props.playerNames)
        button(type='button', class='btn btn-primary', onClick=handleSubmit) 開始！
