div(class='col-md-1 player-column', onClick=tryAnswer, data-playerid=props.player.id)
    if props.player.state == PlayerState.Answer
        p(class='text-center player-id', style={backgroundColor: 'yellow'})= (props.player.id)
    else
        p(class='text-center player-id')= (props.player.id)
    p(className='text-center player-name')= (props.player.name)
    //- TODO: カラーリングは後でLESSに書く
    p(className='text-center player-score', style={fontWeight:'bold', color:'blue'})= (props.rule.displayPositive(props.player))
    p(className='text-center player-score', style={fontWeight:'bold', color:'red'})= (props.rule.displayNegative(props.player))
